[submodule ".registry"]
	path = .registry
	url = https://github.com/rtemis-org/rtemis-org.r-universe.dev
	branch = HEAD
[submodule "rtemis"]
	path = rtemis
	url = https://github.com/rtemis-org/rtemis
[submodule "rtemis.a3"]
	path = rtemis.a3
	url = https://github.com/rtemis-org/a3
	subdir = r
[submodule "rtemis.bio"]
	path = rtemis.bio
	url = https://github.com/rtemis-org/rtemis.bio
[submodule "rtemis.core"]
	path = rtemis.core
	url = https://github.com/rtemis-org/rtemis.core
[submodule "rtemis.draw"]
	path = rtemis.draw
	url = https://github.com/rtemis-org/draw
	subdir = r
[submodule "rtemis.utils"]
	path = rtemis.utils
	url = https://github.com/rtemis-org/rtemis.utils
