[submodule ".registry"]
	path = .registry
	url = https://github.com/rtemis-org/rtemis-org.r-universe.dev
	branch = HEAD
[submodule "rtemis"]
	path = rtemis
	url = https://github.com/rtemis-org/rtemis
[submodule "rtemis.bio"]
	path = rtemis.bio
	url = https://github.com/rtemis-org/rtemis.bio
[submodule "rtemis.utils"]
	path = rtemis.utils
	url = https://github.com/rtemis-org/rtemis.utils
