[submodule ".registry"]
	path = .registry
	url = https://github.com/rtemis-org/rtemis-org.r-universe.dev
	branch = HEAD
[submodule "rtemis"]
	path = rtemis
	url = https://github.com/rtemis-org/rtemis
[submodule "rtemisbio"]
	path = rtemisbio
	url = https://github.com/rtemis-org/rtemisbio
[submodule "rtemisutils"]
	path = rtemisutils
	url = https://github.com/rtemis-org/rtemisutils
